@import url(typinganimation.css);

.social-icon {
  font-size: 3rem;
  margin: auto 1rem;
  cursor: pointer;
}

/* Adding Fonts */

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.otf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBook.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BookItalic.otf');
  font-style: italic;
}



