.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    padding: 4rem auto;
}

.hero-left {
    padding-bottom: 6em;
}

.hero-img {
    width: 300px;
    margin-right: 6rem;
}

.hero-body-text {
    font-family: 'Gotham';
    font-weight: normal;
    margin: auto 8rem;
    margin-top: 2rem;
    line-height: 1.5rem;
}
  