.navbar-container {
    font-family: 'Gotham';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    width: 100%;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
}

.navbar-right h1 {
    margin: auto 1rem;
}