.navbar-container {
    font-family: 'Gotham';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    max-width: 100%;
    align-items: center;
}

.navbar-name {
    font-size: 24px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
}

.navbar-right h1 {
    margin: auto 1rem;
}

.navbar-link {
    text-decoration: none;
}